@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --primary-btn: #635FC7;
  --primary-btn-hover: #A8A4FF;
  --secondary-light: #F4F7FD;
  --primary-light: #E4EBFA;
  --text-color-light: #828FA3;
  --text-color-dark: #000112;
  --secondary-btn: #EA5555;
  --secondary-btn-hover: #FF9898;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--primary-light);
  color: var(--text-color-dark);
}

.header {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.nav-logo {
  height: 25px;
  width: 24px;
}

.nav-elipsis {
  height: 1rem;
}

.board-option {
  display: flex;
  gap: 0.5rem;
  margin-right: auto;
  margin-left: 1rem;
  align-items: center;
}

.board-option:hover {
  cursor: pointer;
}

.board-icon {
  align-self: center;
}

.board-option h3 {
  font-size: 18px;
  line-height: 23px;
}

.nav-btn {
  width: 48px;
  height: 32px;
  border-radius: 24px;
  border: none;
  background-color: var(--primary-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1rem;
}

.tasks-container {
  margin: 1.5rem 0 1.5rem 1rem;
  /* border: 1px solid red; */
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
}

.todo-header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.todo-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--text-color-light);
  letter-spacing: 2.4px;
}

.todo-circle,
.doing-circle,
.done-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.todo-circle {
  background-color: #49C4E5;
}

.doing-circle {
  background-color: #8471F2;
}

.done-circle {
  background-color: #67E2AE;
}

.todo-body-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-body {
  background-color: #FFFFFF;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);
  width: 280px;
}

.todo-body > h3 {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 0.5rem;
}

.todo-body > p {
  font-size: 12px;
  line-height: 15px;
  color: var(--text-color-light);
  font-weight: bold;
}

.new-column-wrapper {
  width: 280px;
  padding-top: 40px;
}

.new-column {
  width: 280px;
  background-color: #E9EFFA;
  border-radius: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light)
}

.new-column > h2 {
  font-size: 1.5rem;
  line-height: 30px;
}

.new-column > h2:hover {
  cursor: pointer;
}

