@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --primary-btn: #635FC7;
  --primary-btn-hover: #A8A4FF;
  --secondary-light: #F4F7FD;
  --primary-light: #E4EBFA;
  --text-color-light: #828FA3;
  --text-color-dark: #000112;
  --secondary-btn: #EA5555;
  --secondary-btn-hover: #FF9898;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--primary-light);
  color: var(--text-color-dark);
}

.app {
  position: relative;
}

/* .app-clicked {
  position: relative;
  z-index: 300;
  background-color: #000000;
} */

.header {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  /* z-index: 2; */
}

.nav-logo {
  height: 25px;
  width: 24px;
}

.nav-elipsis {
  height: 1rem;
}

.board-option {
  display: flex;
  gap: 0.5rem;
  margin-right: auto;
  margin-left: 1rem;
  align-items: center;
}

.board-option:hover {
  cursor: pointer;
}

.board-icon {
  align-self: center;
}

.board-option h3 {
  font-size: 18px;
  line-height: 23px;
}

.nav-btn {
  width: 48px;
  height: 32px;
  border-radius: 24px;
  border: none;
  background-color: var(--primary-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1rem;
}

.tasks-container {
  margin: 1.5rem 0 1.5rem 1rem;
  /* border: 1px solid red; */
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
}

.todo-header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.todo-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--text-color-light);
  letter-spacing: 2.4px;
}

.todo-circle,
.doing-circle,
.done-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.todo-circle {
  background-color: #49C4E5;
}

.doing-circle {
  background-color: #8471F2;
}

.done-circle {
  background-color: #67E2AE;
}

.todo-body-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-body {
  background-color: #FFFFFF;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1015);
  width: 280px;
}

.todo-body > h3 {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 0.5rem;
}

.todo-body > p {
  font-size: 12px;
  line-height: 15px;
  color: var(--text-color-light);
  font-weight: bold;
}

.new-column-wrapper {
  width: 280px;
  padding-top: 40px;
}

.new-column {
  width: 280px;
  background-color: #E9EFFA;
  border-radius: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light)
}

.new-column > h2 {
  font-size: 1.5rem;
  line-height: 30px;
}

.new-column > h2:hover {
  cursor: pointer;
}

.add-task-wrapper {
  /* background-color: #000000;
  opacity: 50%;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%; */
}

.add-task-container {
  border: 1px solid red;
  background-color: #FFFFFF;
  padding: 1.5rem;
  width: 100%;
}

.add-task-form,
.view-task {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add-task {
  display: flex;
  flex-direction: column;
}

.add-task input,
.subtask-inputs input,
.add-subtask button,
.add-task textarea,
.add-task select,
.add-task-form button,
.delete-modal-btns button {
  padding: 0.5rem 1rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.add-task input,
.subtask-inputs input,
.add-task textarea,
.add-task select {
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  font-size: 13px;
  line-height: 23px;
  outline: none;
}

.add-task input::placeholder,
.subtask-inputs input::placeholder,
.add-task textarea::placeholder,
.add-task select::placeholder {
  color: var(--text-color-dark);
  opacity: 30%;
}

.add-task textarea {
  height: 112px;
  resize: none;
}

.add-task > label {
  margin-bottom: 0.5rem;
  font-size: 12px;
  color: var(--text-color-light);
  font-weight: bold;
}

.add-subtask {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


button {
  border-radius: 20px;
  font-size: 13px;
  line-height: 23px;
  border: none;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.add-subtask-btn,
.cancel-btn {
  color: var(--primary-btn);
  background-color: rgba(99, 95, 199, 0.1);
}

.create-task-btn,
.delete-btn {
  color: #FFFFFF;
}

.create-task-btn {
  background-color: var(--primary-btn);
}

.delete-btn {
  background-color: var(--secondary-btn);
}

.subtask-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.subtask-inputs input {
  width: 100%;
}

.cross-icon {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.add-task-form h1,
.view-task h1,
.delete-modal-wrapper h1 {
  font-size: 18px;
  line-height: 23px;
}

.delete-modal-btns,
.delete-modal-wrapper {
  display: flex;
  flex-direction: column;
}

.delete-modal-wrapper { 
  gap: 1.5rem
}

.delete-modal-btns {
  gap: 1rem;
}

.delete-modal-wrapper > h1 {
  color: var(--secondary-btn);
}

.delete-modal-wrapper p,
.view-task p {
  font-size: 13px;
  line-height: 23px;
  color: var(--text-color-light)
}

.view-subtask {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--secondary-light);
  padding: 12px 8px 12px 12px;
  border-radius: 4px;
}

.view-subtasks-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.view-subtask label {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  accent-color: var(--primary-btn);
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  color: var(--text-color-dark);
  opacity: 50%;
  text-decoration: line-through;
  text-decoration-color: var(--text-color-dark);
}

